<?xml version="1.0" ?>
<configuration>
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <File>log/votes-api.log</File>
        <Append>true</Append>
        <ImmediateFlush>false</ImmediateFlush>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/server_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
          <pattern>[%d] [%p] [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="Main">
        <level value="DEBUG" />
    </logger>

    <logger name="org.apache">
        <level value="INFO"/>
    </logger>

    <logger name="ch.qos">
        <level value="WARN"/>
    </logger>

</configuration>